@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap");
body {
  width: 100%;
  background: #eef3f7 !important;
}

.row {
  margin: 0 !important;
}

.wyt {
  background: #eef3f7;
}

h1,
h2 {
  font-family: "Questrial", sans-serif;
  font-style: normal;
  color: #333;
}

h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #333;
}

h1 {
  font-size: 6.5rem;
  font-weight: 600;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  position: absolute;
  margin: 5px 0;
}

*::-webkit-scrollbar {
  position: absolute;
  width: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #b8c7d1;
  border-radius: 3px;
}

.nav-mobile {
  display: none;

  i {
    padding: 1rem;
  }
}

.page-nav-margin {
  margin-top: 80px;
}

/* Media Queries */
@media only screen and (max-width: 790px) {
  .page-nav-margin {
    margin-top: unset;
  }
  .nav {
    display: none !important;
  }
  .quick-patch.hide {
    display: none;
  }
  .nav-mobile {
    display: flex;
    position: fixed;
    height: auto;
    right: 0;
    top: 0;
    z-index: 100;
    font-size: 2em;
    color: #fff;
    transition: 0.5s all;

    a {
      height: 56px;
    }
  }
  .nav-mobile.open {
    height: 100%;
    width: 100%;
    right: 0;
    background: #000000f7;
    .nav-items {
      width: 100%;
      height: 100%;
      padding: 0;
      ul {
        padding: 0;
        list-style: none;
        text-align: center;
        li {
          padding: 0.5em;
          a {
            color: #fff;
            width: 100%;
            display: block;
            transition: 0.5s all;
          }
          .router-link-exact-active:after {
            display: block;
            content: "";
            border-bottom: 3px solid #fff !important;
            transform: scaleX(1) !important;
          }
          .router-link-exact-active {
            border: 0;
          }
          a:hover {
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
          }
          a:after {
            display: block;
            content: "";
            transform: scaleX(0);
            transition: transform 0.5s ease-in-out;
          }
          a:hover:after {
            border-bottom: 3px solid #fff;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
